.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
    width: 90%;
    margin: 0 auto;           
}

.movie{   
    align-items: center;       
}

.movie-details{
    padding-left: 30px;               
}

.poster-image{
    border-radius: 10px;
}

.d-flex{
    display: flex;            
}

.rating{
    padding-right: 20px;
}

.input-group{
    justify-content: space-between;   
    margin-bottom: 20px;          
}

.search-field{
    width: 80%;    
    height: 30px; 
    text-indent: 16px;         
    border-radius: 8px;
    border: 1px solid;
}

.btn{
    width: 200px;  
    background-color: #ff8833;
    border: none;   
    border-radius: 8px;
    cursor: pointer;
}